---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
const tituloPagina = 'Pousada Praia Linda';
---

<Layout title={tituloPagina}>
	<Header />
	<main class="mt-16 xl:mt-24 px-8 md:px-12 xl:px-28 flex flex-col gap-16 xl:flex-row-reverse xl:items-center">
		<img src="undraw_on_the_way_re_swjt.svg" alt="" class="mx-auto xl:w-full" />

		<div class="flex flex-col gap-8 xl:items-start text-center xl:text-left ">
			<h1 class="text-4xl xl:text-6xl font-bold">
				{tituloPagina}
			<span class="text-cyan-700 dark:text-cyan-400">Hoje</span>
			</h1>
			<p class="md:text-lg text-gray-900 dark:text-gray-300">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio aspernatur ipsum dolor rem, repellat voluptate harum ad similique velit sapiente distinctio libero eligendi tempore! Dicta amet placeat minima illum deleniti?
			</p>

		</div>
	</main>
</Layout>
