<footer class="fixed h-12 md:h-20 px-8  md:px-12 xl:px-28 flex gap-12 items-center bottom-0">
  <span class='text-white text-center'>
    © <span id="copyrightYear"></span> <a href='https://www.dezodev.com'>DezoDev</a>. All Rights Reserved. 
  </span>
    
      <script>
        import "../scripts/currentYear.js";
      </script>
</footer>